@import "common.scss";
#app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  .todoo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 500px;
    gap: 15px;
    border: 4px solid $color4;
    border-radius: 50px;
    .nameTodoo {
      //h1 Todoo
      @extend %m-bold;
      font-size: 48px;
      color: $color2;
    }
    .todooForm {
      //Сама форма тудуу
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 500px;
      .newPostContainer {
        //Контейнер для добавления нового поста
        display: flex;
        flex-direction: row;
        gap: 15px;
        .inputText {
          border: none;
          background: none;
          border-bottom: 1px solid $color2;
          text-decoration: none;
          outline: none;
          width: 400px;
          font-size: 18px;
          color: $color1;
          transition: 0.7s;
          @extend %m-regular;
        }
        .inputText:focus {
          border-bottom: 2px solid $color2;
          border-radius: 20;
        }
        .buttonAdd {
          width: 100px;
          height: 50px;
          background: none;
          border: 2px solid $color2;
          cursor: pointer;
          color: $color2;
          font-size: 20px;
          border-radius: 20px;
          transition: 0.7s;
          @extend %m-regular;
          font-style: normal;
        }
        .buttonAdd:hover {
          background: $color2;
          color: $color4;
          border: none;
        }
      }
      .postsContainer {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        .done {
          transition: 0.4s;
          background: green;
          color: white;
        }

        .postContainer {
          @extend %m-regular;
          box-sizing: border-box;
          border: 1px solid $color2;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 20px 0 20px;
          gap: 20px;
          border-radius: 25px;
          height: 40px;
          width: 100%;
          cursor: pointer;
          position: relative;
          .postSettings {
            display: flex;
            flex-direction: row;
            gap: 8px;
            span {
              cursor: pointer;
            }
          }
          .postContainer-Date {
            display: none;
            transition: 0.6s;
          }
        }
        .postContainer:hover {
          transition: 0.6s;
          height: 70px;
          margin-top: 20px;
          .postContainer-Date {
            display: block;
          }
        }
      }
    }
  }
}
